[MESSAGES CONTROL]
disable = 
	broad-exception-raised,
	duplicate-code,
	fixme,
	import-error,
	invalid-name,
	line-too-long,
	missing-docstring,
	no-member,
	too-many-arguments,
	too-many-function-args,
	too-many-instance-attributes,
	too-many-locals,
	too-many-positional-arguments,

	# Since we have unfinished code, we need to ignore some otherwise desirable warnings.
	assignment-from-no-return,
	unsubscriptable-object,
	unused-argument,
